*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body{
  background-color: #241468;
}


.all-item{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr minmax(250px, 1fr);
  grid-template-areas: 
    'box photo';
   

}

.box{
  grid-area:box;
  width: 300px;
  height: 300px;
  position: relative;
  z-index: 1;
  background: #504099;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}




.box input{

width: 100%;
background: #9288F8;
width: 100%;
border: 0;
padding: 15px;
color: #000;
margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
border-radius: 4px;


}

.btn{

background: #FFD2D7;
width: 100%;
border: 0;
padding: 15px;
color: #000;
font-size: 14px;
-webkit-transition: all 0.3 ease;
transition: all 0.3 ease;
cursor: pointer;
border-radius: 4px;
}

.btn:hover{
  background-color:black;
  color: #fff;
}

.error{
color: red;
}

.card{

width: 100px;
height: 100px;
border: 1px solid red;
background-color: red;
color: aliceblue;
}

.popup-parent{
  grid-area:modal-parent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;

}
.popup{
  background: #fff;
  width: 25%;
  padding: 30px;
  border-radius: 6px;
  position: absolute;
  font-size: 22px;
  position: relative;
  animation: 0.5s drop;
  
}
@keyframes drop {
  0%{
    top: -100px;
  }
  100%{
    top: 10%;
  }
}
.X{
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 40px;
  cursor: pointer;

}

img{
  
  grid-area:photo;
  width: 50vw;
  height: 100vh;
}

.ptext{
  display: none;
}
/*---------------------------------------------------------------------*/
@media screen and (max-width:500px){
  .photo{
    display: none;
  }
  
  .all-item{

    grid-template-columns:100%;
    grid-template-areas: 
    'box';
  }

  .ptext{
    display: block;
    text-align: center;
    background-color:#9288F8;
    width: 100%;
    height: 100%;
    padding-top:30px;

  }

  .box{
    margin-top: 70px;
  }

  .popup{
    width: 100%;
    height: 10%;
  }


}

